
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    border: 1px solid black;
    align-items: stretch;
    width: fit-content;
  }
  
  .left, .right {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }


.left {
    text-align: center;
}
  
.right img {
    max-width: 100%;
    height: auto;
  }

  